ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 0 30px #000000;
    opacity: 0.67;
    height: var(--header-h);
    transition: 0.3s;
}

li {
    float: left;
    height: var(--header-h);
}

li a {
    height: var(--header-h);
    opacity: 1;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}
ul:hover
{
    opacity: 0.9;
}
li:hover {
    background-color: red
}