.first, h1
{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-bottom: 500px; */
}

h1 {
    font-size: 6.5vw;
}
p {
    font-size: 2.5vw;
    color: whitesmoke;
}

.CRMtitle {
    width: 66%;
    /* padding: 1%; */
    padding:3.5%;
}
.titolo{
    background: linear-gradient(to left,rgb(255, 255, 255), rgb(46, 169, 209));
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bk{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.297);
    z-index: -1;
    top:0;
    left:0;
}
.paneltitle {
    width: 100%;
    /* padding: 15%; */
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    justify-content: start;
    align-items: flex-end;
    
    margin-top: calc(-1 * var(--header-h));
    margin-bottom: 0;
    z-index: 1;
    color: lightblue;
    /* -webkit-text-stroke: 2px black; */
    /*text-shadow: 0 0 30px black;
    /* filter: brightness(.9); */
    /* position: relative; */
    /*top: 0;*/
    /* z-index: -1; */
}
.panelcat
{
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 60px;
}
.autoCont
{
    width: 100%;
    text-align: center;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin-top: calc(-1 * var(--header-h));
    margin-bottom: 0;
    text-shadow: 0 0 30px black;
}
#cat
{
    border-radius: 20px;
    
}
#cat:hover
{
    box-shadow: 0px 0px 25px black;
    border-radius: 20px;
    object-fit: fill;
    scale: 1.1;
    padding: 0;
    transition: 0.3s;
}
#categorie
{
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 0PX 300px 0px;
    background-color: red;
    border-radius: 20px;
    margin: 50px;
    margin-bottom: 100px;
}

.img {
    /* background-image: url("https://thumbs.gfycat.com/ExhaustedIdioticBluejay.webp"); */
    background-image: url("src/assets/gifsfondo.gif");

    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}
.logo {
    width: 30%;
}
.logo img{
    width: 100%;
    padding: 10px;
    /* margin-right: 100%; */
}

.autoCont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 440px;
}

.autoCont > * {
    width: calc(100% / 3);
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}

.autoCont > * > div {
    height: 200px;
    background-color: red;
    border-radius: 20px;
}
.panelsedi h2
{
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.panelsedi
{
    width: 100%;
    height: 100vh;
    margin-top: calc(-1 * var(--header-h));
    margin-bottom: 0;
    z-index: 1;
    color: black;
    background-color: red;
    border-radius: 30px;
}
