.first, h1
{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-bottom: 500px; */
}

h1 {
    font-size: 6.5vw;
}
p {
    font-size: 2.5vw;
    color: whitesmoke;
}

.CRMtitle {
    width: 66%;
    padding: 1%;
}

.bk{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.297);
    z-index: -1;
    top:0;
    left: 0;
}
.paneltitle {
    width: 100%;
    /* padding: 15%; */
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: calc(-1 * var(--header-h));
    margin-bottom: 0;
    z-index: 1;
    color: var(--main-color);
    /* -webkit-text-stroke: 2px black; */
    text-shadow: 0 0 30px black;
    /* filter: brightness(.9); */
    /* position: relative; */
    /*top: 0;*/
    /* z-index: -1; */
}
.panelcat
{
    background-color: white;
}

.autoCont
{
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    align-items: center;
    margin-top: calc(-1 * var(--header-h));
    margin-bottom: 0;
    text-shadow: 0 0 30px black;
}
#cat
{
    border-radius: 20px;
}
#categorie
{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 0PX 300px 0px;
    background-color: red;
    border-radius: 20px;
}

.img {
    /* background-image: url("https://thumbs.gfycat.com/ExhaustedIdioticBluejay.webp"); */
    background-image: url("src/assets/gifsfondo.gif");

    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}
.logo {
    width: 30%;
}
.logo img{
    width: 100%;
    padding: 10px;
    /* margin-right: 100%; */
}

.autoCont {
    display: flex;
    justify-content: space-between;
}

.autoCont > * {
    width: 100px;
    height: 100px;
    background-color: red;
}

.autoCont > *:hover{
    background-color: brown;
}

